# Byte-compiled / optimized / DLL files
Thumbs.db
.DS_Store
# OS

nohup.out
agent.log
api.log
*.log
config.ini
# Project specific

*~
*.swo
*.swp
.idea/
.vscode/
# IDE

.pyre/
# Pyre type checker

dmypy.json
.dmypy.json
.mypy_cache/
# mypy

/site
# mkdocs documentation

.ropeproject
# Rope project settings

.spyproject
.spyderproject
# Spyder project settings

venv.bak/
env.bak/
ENV/
venv/
env/
.venv
.env
# Environments

*.sage.py
# SageMath parsed files

celerybeat.pid
celerybeat-schedule
# Celery stuff

__pypackages__/
# PEP 582

Pipfile.lock
# pipenv

.python-version
# pyenv

ipython_config.py
profile_default/
# IPython

.ipynb_checkpoints
# Jupyter Notebook

target/
# PyBuilder

docs/_build/
# Sphinx documentation

.scrapy
# Scrapy stuff:

.webassets-cache
instance/
# Flask stuff:

db.sqlite3-journal
db.sqlite3
local_settings.py
*.log
# Django stuff:

*.pot
*.mo
# Translations

.pytest_cache/
.hypothesis/
*.py,cover
*.cover
coverage.xml
nosetests.xml
.cache
.coverage.*
.coverage
.nox/
.tox/
htmlcov/
# Unit test / coverage reports

pip-delete-this-directory.txt
pip-log.txt
# Installer logs

*.spec
*.manifest
# PyInstaller

PKGINFO
*.egg
.installed.cfg
*.egg-info/
share/python-wheels/
pip-wheel-metadata/
wheels/
var/
sdist/
parts/
lib64/
lib/
.eggs/
eggs/
downloads/
dist/
develop-eggs/
build/
.Python
# Distribution / packaging

*.so
# C extensions

*$py.class
*.py[cod]
__pycache__/

# Misc
PRE_COMMIT_CHECKLIST.md
README_FIRST.md
RELEASE_PREPARATION.md
SECURITY.md